<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>

<body>

<div class="container">

  <form name="form-signin" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate class="form-signin">
    <h2 class="form-heading">Logowanie</h2>

    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <label for="username">Login</label>
      <input type="text" class="form-control" id="username" name="username"
             [(ngModel)]="user.username" #username="ngModel" required/>
      <div *ngIf="f.submitted && !username.valid" class="help-block">Login jest wymagany</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password">Hasło</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password"
             #password="ngModel" required/>
      <div *ngIf="f.submitted && !password.valid" class="help-block">Hasło jest wymagane</div>
    </div>

    <div id="remember" class="checkbox"></div>

    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Zaloguj</button>

    <a [routerLink]="['/register']" class="btn btn-link">Utwórz nowe konto!</a>


  </form>

</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</body>
</html>
