<form name="form" (ngSubmit)="submit()">

  <div class="form-group">
    <label for="careType">Rodzaj usługi </label>
    <select [(ngModel)]="careType" name="careType" type="text" id="careType" required>
      <option *ngFor="let cat of careTypes" [ngValue]="cat">{{cat}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="city">Miasto </label>
    <select [(ngModel)]="city" name="city" type="text" id="city" required>
      <option *ngFor="let city of cities" [ngValue]="city">{{city}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="specialization">Specjalizacja </label>
    <select [(ngModel)]="specialization" name="specialization" type="text" id="specialization" required>
      <option *ngFor="let spec of specializations" [ngValue]="spec">{{spec}}
      </option>
    </select>
  </div>

  <div class="buttons">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Szukaj</button>
  </div>

</form>
