<form name="form" (ngSubmit)="submit()">

  <div class="form-group">
    <label for="careType">Rodzaj usługi </label>
    <select [(ngModel)]="careType" name="careType" type="text" id="careType" required>
      <option *ngFor="let cat of careTypes" [ngValue]="cat">{{cat}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="city">Miasto </label>
    <select [(ngModel)]="city" name="city" type="text" id="city" required>
      <option *ngFor="let city of cities" [ngValue]="city">{{city}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="specialization">Specjalizacja </label>
    <select [(ngModel)]="specialization" name="specialization" type="text" id="specialization" required>
      <option *ngFor="let spec of specializations" [ngValue]="spec">{{spec}}
      </option>
    </select>
  </div>

  <div class="buttons">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Szukaj</button>
  </div>

</form>

<form [style.display]="isVisible ? 'block' : 'none'">

  <div class="w3-container">
    <h2>Najbliższ terminy wizyt:</h2>

    <div class="wrap-table100">
      <div class="table">

        <div class="row header">
          <div class="cell">Placówka</div>
          <div class="cell">Data</div>
          <div class="cell">Specjalizacja</div>
          <div class="cell">Lekarz</div>
        </div>
        <div class="row" *ngFor="let visit of visits" (click)="bookVisit(visit)">
          <div class="cell">{{visit.visitModel.clinic.name + ', ' + visit.visitModel.clinic.city}}</div>
          <div class="cell">{{('' + visit.start + '').substring(0, 10) + ' ' + ('' + visit.start + '').substring(11,
            16)}}
          </div>
          <div class="cell">{{visit.visitModel.specialization}}</div>
          <div class="cell">{{visit.visitModel.user.firstName + ' ' + visit.visitModel.user.lastName}}</div>
        </div>

      </div>
    </div>

  </div>

  <a href="javascript:void(0);" (click)="openCalendar()">Wybierz inny termin</a>


</form>

<book-dialog #book (close)="createClosed($event)"></book-dialog>

