<body>
<div id="top">
  <div class="container-fluid">
    <div class="col-md-offset-1">
      <h1>
        <a style="margin-left: 10px" routerLink="/home">Przychodnia</a>
      </h1>
    </div>


    <a style="margin-left: 10px" routerLink="/modelCalendar">Tworzenie modelu wizyty</a>
    <a style="margin-left: 10px" routerLink="/patientCalendar">Kalendarz wizyt dla pacjenta</a>
    <a style="margin-left: 10px" routerLink="/doctorCalendar">Kalendarz wizyt dla lekarza</a><br/>
    <a href="{{url}}" (click)="logInOut()">{{login}}</a><br/>
    <br/>


    <router-outlet></router-outlet>
  </div>
</div>
</body>
