<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
<div id="top">
  <div class="container-fluid">

    <h1><a id="title" routerLink="/home">Rejestracja pacjentów on-line</a></h1>


    <ul>
      <li *ngFor="let button of buttons"><a style="margin-left: 10px" routerLink="{{button.link}}">{{button.name}}</a>
      </li>
      <li><a href="{{url}}" (click)="logInOut()">{{login}}</a></li>
    </ul>


    <router-outlet></router-outlet>
  </div>
</div>
</body>
