<body>
<div id="top">
  <div class="container-fluid">

    <h1><a id="title" routerLink="/home">Rejestracja pacjentów on-line</a></h1>

    <div class="navbar">
      <a *ngFor="let button of buttons" routerLink="{{button.link}}">{{button.name}}</a>

      <div class="dropdown" id="panel" hidden>
        <button class="dropbtn">Panel użytkownika
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" *ngFor="let panel of userPanel">
          <a href="{{panel.link}}">{{panel.name}}</a>
        </div>
      </div>

      <a href="{{url}}" (click)="logInOut()">{{login}}</a>

    </div>

    <router-outlet></router-outlet>
  </div>
</div>

</body>
