<div class="left">
  <daypilot-navigator [config]="navigatorConfig" [(date)]="config.startDate" #navigator></daypilot-navigator>
</div>
<div class="main">

  Rodzaj usługi:
  <select (ngModelChange)="changeCareType($event)" [ngModel]="filter.careType" id="DropList">
    <option *ngFor="let cat of careType" [ngValue]="cat">{{cat}}</option>
  </select>
  <br><br>
  Placówka:
  <select (ngModelChange)="changeClinic($event)" [ngModel]="filter.clinic">
    <option *ngFor="let cli of clinics" [ngValue]="cli">{{cli}}</option>
  </select>
  <br><br>
  Lekarz:
  <select (ngModelChange)="changeDoctor($event)" [ngModel]="filter.doctor">
    <option *ngFor="let doc of doctors" [ngValue]="doc">{{doc}}</option>
  </select>
  <br><br>
  Specjalizacja:
  <select (ngModelChange)="changeSpecialization($event)" [ngModel]="filter.specialization">
    <option *ngFor="let spec of specialization" [ngValue]="spec">{{spec}}</option>
  </select>

  <br><br>
  <a href="" (click)="clearFilter()">Anuluj wyszukiwanie</a><br><br>


  <div class="buttons">
    <a href="#" (click)="navigatePrevious($event)"><<< Poprzedni tydzień</a>
    <a href="#" (click)="navigateToday($event)">Aktualny tydzień</a>
    <a href="#" (click)="navigateNext($event)">Nastpępny tydzień >>></a>
  </div>
  <daypilot-calendar [config]="config" [events]="events" #calendar></daypilot-calendar>
</div>
<create-dialog #create (close)="createClosed($event)"></create-dialog>
