<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>

<body>

<div class="container">
  <div class="card card-container">

    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate class="form-signin">

      <h2 class="form-signin-heading">Rejestracja</h2>

      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
        <label for="firstName">Imię*</label>
        <input type="text" class="form-control" name="firstName" id="firstName" [(ngModel)]="user.firstName"
               #firstName="ngModel" required/>
        <div *ngIf="f.submitted && !firstName.valid" class="help-block">Imię jest wymagane</div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
        <label for="lastName">Nazwisko*</label>
        <input type="text" class="form-control" name="lastName" id="lastName" [(ngModel)]="user.lastName"
               #lastName="ngModel" required/>
        <div *ngIf="f.submitted && !lastName.valid" class="help-block">Nazwisko jest wymagane</div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <label for="username">Login*</label>
        <input type="text" class="form-control" name="username" id="username" [(ngModel)]="user.username"
               #username="ngModel" required/>
        <div *ngIf="f.submitted && !username.valid" class="help-block">Login jest wymagany</div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label for="password">Hasło*</label>
        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="user.password"
               #password="ngModel" required minlength="4"/>
        <div *ngIf="f.submitted && !password.valid" class="help-block">

          <div *ngIf="password.errors.required">Hasło jest wymagane</div>
          <div *ngIf="password.errors.minlength">Hasło musi mieć co najmniej 6 znaków</div>

        </div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmPassword.valid }">
        <label for="confirmPassword">Powtórz hasło*</label>
        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
               [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" required minlength="4"/>
        <div *ngIf="f.submitted && !confirmPassword.valid" class="help-block">

          <div *ngIf="confirmPassword.errors.required">Powtórzone hasło jest wymagane</div>
          <div *ngIf="confirmPassword.errors.minlength">Powtórzone hasło musi mieć co najmniej 6 znaków</div>

        </div>
      </div>

      <span id="reauth-email" class="reauth-email"></span>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
        <label for="email">Adres e-mail*</label>
        <input type="text" class="form-control" name="email" id="email" pattern="[^ @]*@[^ @]*"
               [(ngModel)]="user.email" #email="ngModel" required/>
        <div *ngIf="f.submitted && !email.valid" class="help-block">

          <div *ngIf="email.errors.required">E-mail jest wymagany</div>
          <div *ngIf="email.errors.pattern">Niepoprawny e-mail</div>

        </div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !pesel.valid }">
        <label for="pesel">Pesel</label>
        <input type="number" class="form-control" name="pesel" id="pesel" [(ngModel)]="user.pesel"
               #pesel="ngModel"/>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phoneNumber.valid }">
        <label for="phoneNumber">Numer telefonu</label>
        <input type="number" class="form-control" name="phoneNumber" id="phoneNumber" [(ngModel)]="user.phoneNumber"
               #phoneNumber="ngModel"/>
      </div>


      <div id="remember" class="checkbox"></div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Utwórz konto</button>
      <button [routerLink]="['/login']" class="btn btn-lg btn-danger btn-block btn-cancel" type="button">Anuluj</button>

    </form>

  </div>
</div>

</body>
</html>
