<div class="w3-container">
  <h2>Lista pacjentów:</h2>

  <div class="filter">
    Imię:
    <input type="text" class="form-control" name="firstName" id="firstName" [ngModel]="filter.firstName"
           (ngModelChange)="changeFirstName($event)" placeholder="Imię" #firstName>
    Nazwisko:
    <input type="text" class="form-control" name="lastName" id="lastName" [ngModel]="filter.lastName"
           (ngModelChange)="changeLastName($event)" placeholder="Nazwisko" #lastName/>

    <div class="button">
      <a href="#" (click)="firstName.value=''; lastName.value=''; clearFilter()">Anuluj wyszukiwanie</a>
    </div>
  </div>
  <br/><br/>

  <div class="wrap-table100">
    <div class="table">

      <div class="row header">
        <div class="cell">Imię</div>
        <div class="cell">Nazwisko</div>
        <div class="cell">Pesel</div>
        <div class="cell">E-mail</div>
        <div class="cell">Numer telefonu</div>
      </div>
      <div class="row" *ngFor="let patient of patients" (click)="openUserHistory(patient.id)">
        <div class="cell">{{patient.firstName}}</div>
        <div class="cell">{{patient.lastName}}</div>
        <div class="cell">{{patient.pesel}}</div>
        <div class="cell">{{patient.email}}</div>
        <div class="cell">{{patient.phoneNumber}}</div>
      </div>

    </div>
  </div>


</div>

