:host ::ng-deep .calendar_default_colheader_inner {
  padding: 5px;
}

:host ::ng-deep .calendar_default_rowheader_inner {
  padding: 5px;
}

.left {
  float: left;
  width: 200px;
}

.main {
  margin-left: 220px;
}

.buttons {
  margin-bottom: 10px;
}

.buttons a {
  display: inline-block;
  text-align: center;
  background-color: #84abd8;
  border: 1px solid #c6ccc6;
  color: #fff;
  padding: 6px 20px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  width: 247px;
  text-decoration: none;
}

.buttons a:hover {
  background-color: #566f88;
}

input[type=text], select {
  width: 250px;
  height: 25px;
  padding: 6px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number] {
  width: 50%;
  padding: 6px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.buttons2 a {
  display: inline-block;
  text-align: center;
  background-color: #b1b8ba;
  border: 1px solid #c6ccc6;
  color: #fff;
  margin-left: 10px;
  padding: 6px 15px;
  margin-top: 20px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 5px;
  text-decoration: none;
}

.buttons2 a:hover {
  background-color: #595b5d;
}
