.left {
  width: 150px;
  float: left;
  display: inline-block;
}

.middle{
  margin-left: 10px;
  max-width: 200px;
  display: inline-block;
}

.right {
  margin-left: 100px;
  display: inline-block;
}

.history {
  margin-left: 150px;
}


.buttons {
  margin-bottom: 10px;
  margin-top: 10px;
}

.buttons a {
  display: inline-block;
  text-align: center;
  background-color: #84abd8;
  border: 1px solid #c6ccc6;
  color: #fff;
  padding: 7px 20px;
  margin-bottom: 5px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  min-width: 200px;
  text-decoration: none;
}

.buttons a:hover {
  background-color: #566f88;
}

.tab{
  margin-left: 10px;
}
