<div class="left">
  <daypilot-calendar [config]="config" [events]="events" #calendar></daypilot-calendar>
</div>

<div class="middle">

  <div class="buttons">
    <a href="javascript:void(0);" (click)="previousVisit()">Wróć do poprzedniej wizyty</a>
    <a href="javascript:void(0);" (click)="confirmVisit()">Zatwierdź wizytę</a>
    <a href="javascript:void(0);" (click)="nextVisit()">Pomiń wizytę</a>
    <a href="javascript:void(0);" (click)="openUserHistory()">Historia pacjenta</a>
    <a href="javascript:void(0);" (click)="bookNextVisit()">Zarezerwuj następną wizytę</a>
    <a href="javascript:void(0);" (click)="getMonth()">Zarezerwuj wizytę kontrolną</a>
  </div>

</div>
<div class="right">

  <div class="tab">
    <p><b>Aktualna wizyta:
      {{('' + actualVisit.start + '').substring(11,16)}} -
      {{('' + actualVisit.end + '').substring(11,16)}}</b></p>
    <p><b>Dane pacjenta</b></p>
    <div class="tab">
      Imie i Nazwisko: {{actualUser.firstName + ' ' + actualUser.lastName}} <br/>
      Pesel: {{actualUser.pesel}}
    </div>
    <p><b>Dane kontaktowe</b></p>

    <div class="tab">
      E-mail: {{actualUser.email}} <br/>
      Numer telefonu: {{actualUser.phoneNumber}}
    </div>
  </div>

</div>

<div class="history">
  <form [style.display]="isHistory ? 'block' : 'none'">
    <app-userHistory #userHistory></app-userHistory>
  </form>
</div>

<form name="form" (ngSubmit)="f.form.valid && showVisits()" #f="ngForm" novalidate class="form-signin"
      [style.display]="isMonth ? 'block' : 'none'">

  <div class="filter">
    <h2>Termin wizyty kontrolnej za</h2>

    <table>
      <tr>
        <td>
          <select [(ngModel)]="month" name="month" type="text" id="month" required style="display: inline-block">
            <option *ngFor="let mon of months" [ngValue]="('' + mon + '').substring(0,2)">{{mon}}</option>
          </select>
        </td>
        <td>
          <div class="button2">
            <a href="javascript:void(0);" (click)="f.form.valid && showVisits()">Szukaj</a>
          </div>
        </td>
      </tr>
    </table>
  </div>

</form>

<form [style.display]="isVisits ? 'block' : 'none'" style="margin-left: 150px">
  <div class="w3-container">

    <div class="wrap-table100">
      <div class="table">

        <div class="row header">
          <div class="cell">Placówka</div>
          <div class="cell">Data</div>
          <div class="cell">Lekarz</div>
        </div>
        <div class="row" *ngFor="let visit of visits" (click)="bookVisit(visit)">
          <div class="cell">{{visit.visitModel.clinic.name + ', ' + visit.visitModel.clinic.city}}</div>
          <div class="cell">{{('' + visit.start + '').substring(0, 10) + ' ' + ('' + visit.start + '').substring(11,
            16)}}
          </div>
          <div class="cell">{{visit.visitModel.user.firstName + ' ' + visit.visitModel.user.lastName}}</div>
        </div>

      </div>
    </div>

  </div>
</form>

<confirm-dialog #confirm (close)="createClosed($event)"></confirm-dialog>
<bookInFuture-dialog #book (close)="bookClosed()"></bookInFuture-dialog>




