<div class="left">
  <daypilot-calendar [config]="config" [events]="events" #calendar></daypilot-calendar>
</div>

<div class="right">

  <div class="buttons">
    <a href="javascript:void(0);" (click)="previousVisit()">Wróć do poprzedniej wizyty</a>
    <a href="javascript:void(0);" (click)="confirmVisit(actualVisit.id)">Zatwierdź wizytę</a>
    <a href="javascript:void(0);" (click)="nextVisit()">Pomiń wizytę</a>
    <a href="javascript:void(0);" (click)="openUserHistory(actualUser.id)">Historia pacjenta</a>
    <a href="javascript:void(0);" (click)="openUserHistorycopy(actualUser.id)">Zarezerwuj następną wizytę</a>
  </div>

  <div class="tab">
    <p><b>Aktualna wizyta:
      {{('' + actualVisit.start + '').substring(11,16)}} -
      {{('' + actualVisit.end + '').substring(11,16)}}</b></p>
    <p><b>Dane pacjenta</b></p>
    <div class="tab">
      Imie i Nazwisko: {{actualUser.firstName + ' ' + actualUser.lastName}} <br/>
      Pesel: {{actualUser.pesel}}
    </div>
    <p><b>Dane kontaktowe</b></p>

    <div class="tab">
      E-mail: {{actualUser.email}} <br/>
      Numer telefonu: {{actualUser.phoneNumber}}
    </div>
  </div>

  <form [style.display]="isVisible ? 'block' : 'none'">
    <app-userHistory #userHistory></app-userHistory>
  </form>

</div>

<confirm-dialog #confirm (close)="createClosed($event)"></confirm-dialog>




