<div class="left">
  <daypilot-navigator [config]="navigatorConfig" [(date)]="config.startDate" #navigator></daypilot-navigator>
</div>
<div class="main">

  <table>
    <tr>
      <td>
        Rodzaj usługi:
        <select (ngModelChange)="changeCareType($event)" [ngModel]="filter.careType" id="DropList" title="careType">
          <option *ngFor="let cat of careType" [ngValue]="cat">{{cat}}</option>
        </select>
      </td>
      <td>
        Miasto:
        <select (ngModelChange)="changeCity($event)" [ngModel]="filter.cities" title="cities">
          <option *ngFor="let city of cities" [ngValue]="city">{{city}}</option>
        </select>

      </td>
      <td>
        Placówka:
        <select (ngModelChange)="changeClinic($event)" [ngModel]="filter.clinic" title="clinic">
          <option *ngFor="let cli of clinics" [ngValue]="cli">{{cli}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        Lekarz:
        <select (ngModelChange)="changeDoctor($event)" [ngModel]="filter.doctor" title="doctor">
          <option *ngFor="let doc of doctors" [ngValue]="doc">{{doc}}</option>
        </select>
      </td>

      <td>
        Specjalizacja:
        <select (ngModelChange)="changeSpecialization($event)" [ngModel]="filter.specialization"
                title="specialization">
          <option *ngFor="let spec of specialization" [ngValue]="spec">{{spec}}</option>
        </select>
      </td>
      <td>
        Cena za wizytę:<br>
        <input type="number" class="form-control" name="minPrice" id="minPrice" [ngModel]="filter.minPrice"
               (ngModelChange)="changeMinPrice($event)" placeholder="min"/>
        <input type="number" class="form-control" name="maxPrice" id="maxPrice" [ngModel]="filter.maxPrice"
               (ngModelChange)="changeMaxPrice($event)" placeholder="max"/>
      </td>
      <td>
        <div class="buttons2">
          <a href="#" (click)="careType.value=''; clearFilter()">Anuluj wyszukiwanie</a>
        </div>
      </td>
    </tr>
  </table>

  <div class="buttons">
    <a href="#" (click)="navigatePrevious($event)"><<< Poprzedni tydzień</a>
    <a href="#" (click)="navigateToday($event)">Aktualny tydzień</a>
    <a href="#" (click)="navigateNext($event)">Nastpępny tydzień >>></a>
  </div>
  <daypilot-calendar [config]="config" [events]="events" #calendar></daypilot-calendar>
</div>
<book-dialog #book (close)="createClosed($event)"></book-dialog>
