<div class="w3-container">
  <h2>Historia wizyt:</h2>

  <div class="filter">
    Specjalizacja:
    <select (ngModelChange)="changeSpecialization($event)" [ngModel]="filter.specialization"
            title="specialization" #spec>
      <option *ngFor="let spec of specialization" [ngValue]="spec">{{spec}}</option>
    </select>

    <div class="button">
      <a href="#" (click)="spec.value=''; clearFilter()">Anuluj wyszukiwanie</a>
    </div>
  </div>
  <br/><br/>

  <div class="wrap-table100">
    <div class="table">

      <div class="row header">
        <div class="cell">Placówka</div>
        <div class="cell">Data</div>
        <div class="cell">Specjalizacja</div>
        <div class="cell">Lekarz</div>
        <div class="cell">Opis</div>
      </div>
      <div class="row" *ngFor="let visit of visits">
        <div class="cell">{{visit.visitModel.clinic.name + ', ' + visit.visitModel.clinic.city}}</div>
        <div class="cell">{{('' + visit.start + '').substring(0, 10)}}</div>
        <div class="cell">{{visit.visitModel.user.specialization}}</div>
        <div class="cell" id="cancel"><a href="javascript:void(0);" (click)="doctorCalendar(visit.visitModel.user.id)">
          {{visit.visitModel.user.firstName + ' ' + visit.visitModel.user.lastName}}</a></div>
        <div class="cell">{{visit.description}}</div>
      </div>

    </div>
  </div>

</div>

