input[type=text], select {
  width: 100%;
  padding: 6px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  max-width: 200px;
  margin: 8px 20px 8px 0;
}

div {
  display: inline-block;
  border-radius: 5px;
  padding: 3px;
}

.button a {
  display: inline-block;
  text-align: center;
  background-color: #b1b8ba;
  border: 1px solid #c6ccc6;
  color: #fff;
  padding: 6px 15px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 5px;
  text-decoration: none;
}

.button a:hover {
  background-color: #566f88;
}

.filter {
  background-color: #f2f2f2;
}

