input[type=text], select {
  width: 100%;
  padding: 6px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  max-width: 200px;
  margin: 8px 20px 8px 0;
}

div {
  display: inline-block;
  border-radius: 5px;
  padding: 3px;
}

.button a {
  display: inline-block;
  text-align: center;
  background-color: #b1b8ba;
  border: 1px solid #c6ccc6;
  color: #fff;
  padding: 6px 15px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 5px;
  text-decoration: none;
}

.button a:hover {
  background-color: #566f88;
}

.filter {
  background-color: #f2f2f2;
  min-width: 500px;
}

.row {
  display: table-row;
  background: #fff;
}

.row.header {
  color: #ffffff;
  background: #b1b8ba;
}

.cell {
  display: table-cell;
}

.row .cell {
  font-size: 15px;
  color: #666666;
  font-weight: unset !important;

  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.row.header .cell {
  font-size: 18px;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.row .cell {
  min-width: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.row:hover {
  background-color: #a9c2d8;
}

#cancel {
  text-align: center;
  cursor: pointer;
}

#cancel a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#cancel:hover {
  background-color: #85b2d8;
}
